<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Option Pricing Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"></head>
    <script>
        function setOptionKind(kind) {
            // Set hidden input value
            document.getElementById('kind').value = kind;
            localStorage.setItem('kind', kind);

            // Update button styles
            document.getElementById('european').checked = (kind === 'european');
            document.getElementById('american').checked = (kind === 'american');

            // Get the method dropdown
            const methodSelect = document.getElementById('method');
            // Define the options that need to be hidden for each option kind
            const bsmOption = methodSelect.querySelector('option[value="BSM"]');
            const mcOption = methodSelect.querySelector('option[value="MC"]');
            const lsmcOption = methodSelect.querySelector('option[value="LSMC"]')
            if (kind === 'american') {
                // Hide BSM and MC and show LSMC for American option
                bsmOption.style.display = 'none';
                mcOption.style.display = 'none';
                lsmcOption.style.display = 'block';

                // Automatically switch to another method if currently selected one is hidden
                if (methodSelect.value === 'BSM' || methodSelect.value === 'MC') {
                    methodSelect.value = 'BT'; // Default to Binomial Tree Method
                    toggleInputs();
                }
            } else {
                // Show BSM and MC and hide LSMC for European option
                bsmOption.style.display = 'block';
                mcOption.style.display = 'block';
                lsmcOption.style.display = 'none';

                // Automatically switch to another method if currently selected one is hidden
                if (methodSelect.value === 'LSMC') {
                    methodSelect.value = 'BSM'; // Default to Black-Scholes-Merton Model
                    toggleInputs();
                }
            }
        }

        function setOptionType(type) {
            // Set hidden input value
            document.getElementById('option_type').value = type;
            localStorage.setItem('option_type', type);

            // Update button styles
            document.getElementById('call').checked = (type === 'call');
            document.getElementById('put').checked = (type === 'put');
        }

        function toggleInputs() {
            const method = document.getElementById('method').value;
            const mclsmcFields = document.getElementById('mc_lsmc_fields');
            const btttFields = document.getElementById('bt_tt_fields');
            const mcField = document.getElementById('mc_field');

            // Show Tree inputs if the method is Binomial or Trinomial Tree
            if (method === 'BT' || method === 'TT') {
                btttFields.style.display = 'flex';
            } else {
                btttFields.style.display = 'none';
            }
            // Show Monte Carlo inputs if the method is Monte Carlo
            if (method === 'MC') {
                mclsmcFields.style.display = 'flex';
            } else if (method === 'LSMC') {
                mclsmcFields.style.display = 'flex';
                mcField.style.display = 'none';
            } else {
                mclsmcFields.style.display = 'none';
            }
            // mclsmcFields.style.display = (method === 'MC') ? 'flex' : 'none';
        }

        function saveState() {
            const form = document.getElementById('optionForm');
            const formData = new FormData(form);

            // Save each field in localStorage
            formData.forEach((value, key) => {
                if (key !== 'kind' && key !== 'option_type') {
                    localStorage.setItem(key, value);
                }
            });
            
            // Save the state of the checkbox explicitly
            const showGreeksCheckbox = document.getElementById('showGreeks');
            localStorage.setItem('showGreeks', showGreeksCheckbox.checked);
        }

        function loadState() {
            const kindValue = localStorage.getItem('kind');
            const optionTypeValue = localStorage.getItem('option_type');

            // Restore radio button state for kind
            if (kindValue) {
                setOptionKind(kindValue);
            } else {
                setOptionKind('european'); // Set default hidden value
            }

            // Restore radio button state for option type
            if (optionTypeValue) {
                setOptionType(optionTypeValue);
            } else {
                setOptionType('call');
            }


            const form = document.getElementById('optionForm');
            const inputs = form.querySelectorAll('input, select');

            inputs.forEach(input => {
                if (input.name !== 'kind' && input.name !== 'option_type') {
                    const savedValue = localStorage.getItem(input.name);
                    if (savedValue !== null) {
                        if (input.type === 'checkbox') {
                            input.checked = (savedValue === 'true');  // Check if the value is 'true'
                        } else {
                            input.value = savedValue;
                        }
                    }
                }
            });

            // Restore the state of the "showGreeks" checkbox explicitly
            const showGreeksCheckbox = document.getElementById('showGreeks');
            const showGreeksState = localStorage.getItem('showGreeks');
            if (showGreeksState !== null) {
                showGreeksCheckbox.checked = (showGreeksState === 'true');
            }


            // Call toggleInputs to display the correct fields
            toggleInputs();
            restoreScrollPosition();
        }

        document.addEventListener('DOMContentLoaded', loadState);

        function saveScrollPosition() {
            localStorage.setItem('scrollPosition', window.scrollY);
        }

        function restoreScrollPosition() {
            const scrollPosition = localStorage.getItem('scrollPosition');
            if (scrollPosition) {
                window.scrollTo(0, parseInt(scrollPosition));
            }
        }
    </script>

<body>
    <div class="container">
        <h1 class="text-center mb-5">Option Pricing Calculator</h1>
        <form id="optionForm" action="/" method="post" onsubmit="saveState(); saveScrollPosition();">
            <!-- Hidden inputs for kind and option_type -->
            <input type="hidden" id="kind" name="kind" value="european">
            <input type="hidden" id="option_type" name="option_type" value="call">

            <!-- Row 1: Kind of Option, Option Type, Method -->
            <div class="row">
                <!-- Button Group for Kind of Option -->
                <div class="col-md-4 mb-3">
                    <div class="btn-group" role="group" aria-label="Option Kind">
                        <input type="radio" class="btn-check" name="kind" id="european" value="european" autocomplete="off" checked>
                        <label class="btn btn-outline-warning" for="european" onclick="setOptionKind('european')">European</label>
                
                        <input type="radio" class="btn-check" name="kind" id="american" value="american" autocomplete="off">
                        <label class="btn btn-outline-primary" for="american" onclick="setOptionKind('american')">American</label>
                    </div>
                </div>
    
                <!-- Button Group for Option Type -->
                <div class="col-md-4 mb-3">
                    <div class="btn-group" role="group" aria-label="Option Type">
                        <input type="radio" class="btn-check" name="option_type" id="call" value="call" autocomplete="off" checked>
                        <label class="btn btn-outline-success" for="call" onclick="setOptionType('call')">Call</label>
                
                        <input type="radio" class="btn-check" name="option_type" id="put" value="put" autocomplete="off">
                        <label class="btn btn-outline-danger" for="put" onclick="setOptionType('put')">Put</label>
                    </div>
                </div>
    

                <div class="col-md-4 mb-3">
                    <!-- <label for="method" class="form-label">Method:</label> -->
                    <select id="method" name="method" class="form-select" onchange="toggleInputs()">
                        <option value="BSM">Black-Scholes-Merton model</option>
                        <option value="BT">Binomial Tree method</option>
                        <option value="TT">Trinomial Tree method</option>
                        <option value="MC">Monte Carlo simulation</option>
                        <option value="LSMC">Least Squares Monte Carlo simulation</option>
                        <option value="JD">Jump-Diffusion process</option>
                        <option value="EFM">Explicit Finite Difference method</option>
                        <option value="IFM">Implicit Finite Difference method</option>
                        <option value="CNFM">Crank-Nicolson Finite Difference method</option>
                    </select>
                </div>
            </div>

            <!-- Row 2: Stock Price, Strike Price, Time to Expiry -->
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="stock_price" class="form-label">Stock Price (S):</label>
                    <input type="number" id="stock_price" name="stock_price" step="1" value="100" class="form-control" required>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="strike_price" class="form-label">Strike Price (K):</label>
                    <input type="number" id="strike_price" name="strike_price" step="1" value="100" class="form-control" required>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="time_to_expiry" class="form-label">Time to Expiry (T in years):</label>
                    <input type="number" id="time_to_expiry" name="time_to_expiry" step="0.1" value="1"  class="form-control" required>
                </div>
            </div>

            <!-- Row 3: Risk-Free Rate, Yield Rate, Volatility -->
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="risk_free_rate" class="form-label">Risk-Free Rate (r as decimal):</label>
                    <input type="number" id="risk_free_rate" name="risk_free_rate" step="0.01" value="0.05" class="form-control" required>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="yield_rate" class="form-label">Yield Rate (y as decimal):</label>
                    <input type="number" id="yield_rate" name="yield_rate" step="0.01" value="0" class="form-control">
                </div>

                <div class="col-md-4 mb-3">
                    <label for="volatility" class="form-label">Volatility (σ as decimal):</label>
                    <input type="number" id="volatility" name="volatility" step="0.01" value="0.15" class="form-control" required>
                </div>
            </div>

            <!-- Optional Row: Monte Carlo Fields -->
            <div id="mc_lsmc_fields" class="row" style="display: none;">
                <div class="col-md-4 mb-3">
                    <label for="seed" class="form-label">Random seed:</label>
                    <input type="number" id="seed" name="seed" step="1" value="42" class="form-control">
                </div>

                <div class="col-md-4 mb-3">
                    <label for="iterations" class="form-label">Iterations (n):</label>
                    <input type="number" id="iterations" name="iterations" step="100" value="10000" class="form-control">
                </div>

                <div id='mc_field' class="col-md-4 mb-3">
                    <label for="timestep" class="form-label">Timestep (dt):</label>
                    <input type="number" id="timestep" name="timestep" step="0.001" value="0.004" class="form-control">
                </div>
            </div>

            <!-- Optional Row: Binomial/Trinomial Tree Field -->
            <div id="bt_tt_fields" class="row" style="display: none;">
                <div class="col-md-6 mb-3">
                    <label for="time_steps" class="form-label">Time steps:</label>
                    <input type="number" id="time_steps" name="time_steps" step="10" value="300" class="form-control">
                </div>
            </div>

            <!-- Checkbox and Button Row -->
            <div class="row align-items-center">
                <div class="col-md-6 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="showGreeks" name="showGreeks">
                        <label class="form-check-label" for="showGreeks">
                            Show Greeks
                        </label>
                    </div>
                </div>

                <div class="col-md-6 mb-3 text-end">
                    <button type="submit" class="btn btn-primary">Calculate Price</button>
                </div>
            </div>

        </form>

        {% if price %}
        <h2 class="mt-3">Calculated Option Price: {{ price }}</h2>
        {% endif %}
        {% if greeks %}
        <h3 class="mt-3">Option Greeks:</h3>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Greek</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Delta 𝚫</td>
                    <td>{{ greeks.delta }}</td>
                </tr>
                <tr>
                    <td>Gamma 𝚪</td>
                    <td>{{ greeks.gamma }}</td>
                </tr>
                <tr>
                    <td>Theta 𝚯</td>
                    <td>{{ greeks.theta }}</td>
                </tr>
                <tr>
                    <td>Vega 𝓋</td>
                    <td>{{ greeks.vega }}</td>
                </tr>
                <tr>
                    <td>Rho 𝛒</td>
                    <td>{{ greeks.rho }}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</body>
</html>
